.left-holder-container {
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-holder-container.login-background {
    background-image: linear-gradient(rgba(93, 34, 34, 0.47), rgba(93, 34, 34, 0.47)), url('/img/login-background.jpg');
}

.left-holder-container.register-background {
    background-image: linear-gradient(rgba(93, 34, 34, 0.47), rgba(93, 34, 34, 0.47)), url('/img/register-background.jpg');
}

.right-holder-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 450px;
    background-color: white;
    padding: 40px;

    h1 {
        font-weight: 700;
        font-size: 4em;
        margin-bottom: 20px;
    }

    p {
        color: #A5A5A5;
        font-weight: 300;
        margin-bottom: 50px;
    }

    form {
        label {
            text-transform: uppercase;
            margin-bottom: -60px;
            margin-left: 10px;
            margin-top: 5px;
            font-weight: 600;
        }

        input[type='text'], input[type='password'] {
            display: block;
            margin-bottom: 20px;
            width: 100%;
            padding: 23px 10px 5px 10px;
            font-weight: 300;
            color: #404250;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
        }

        .button {
            margin-top: 30px;
        }
    }
}